node_modules/
dist/
.DS_Store

# Build and dependency artifacts
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# VSCode settings/store
.vscode/

# OS-specific
Thumbs.db
ehthumbs.db
Icon?
.idea/
*.sublime-workspace
*.sublime-project

# macOS clutter
.DS_Store
.AppleDouble
.LSOverride

# Editor swap/backup files
*~
*.swp
*.tmp
*.bak

# Test coverage
coverage/
*.lcov

# TypeScript cache/output
*.tsbuildinfo

# Environment variable files
.env
.env.local
.dev.vars*
.jev-metrics.jsonl

# Production builds
build/
/out/

# Misc
*.tgz
*.orig
